/*universal*/


* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: black;
}

.border {
  border: none;
}

/*universal-end*/

/* header */

#title {
  font-family: system;
  color: white;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 50px;
}

#header-container {
  max-width: 1200px;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  margin-top: 60px;
}

#tribute-info {
  float: left;
  max-width: 730px;
  height: 475px;
  background-color: #9700FF;
  line-height: 2;
  margin-right: 0;
  padding: 2vw 5vw;
}



#profile-portrait {
  height: 475px;
  width: auto;
  display: block;
  padding: 0;
  margin-left: 0;
  float: right;

}

/* main */

.main-title {
  font-family: system;
  color: white;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 120px;
}

#main-container {
  font-family: system;
  color: white;
  font-size: 1.7rem;
  max-width: 1200px;
  margin: auto;
  padding: 15px;

}

#img-caption {

  color: #fff;
  padding: 3px;
  font: italic smaller sans-serif;
  width: auto;
  text-align: left;

}

#main-container p {
  line-height: 32px;
  /* within paragraph */
  margin-bottom: 30px;
  margin-top: 0;
}

.subheader {
  width: auto;
  text-align: left;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin: 10px;
}

#img-div {
  padding: 0px;
  margin: 8px 20px 16px 0;
  width: 35%;
  min-width: 350px;
  float: left;
  clear: left;
}

#image {
  width: 100%;
  height: auto;
  max-width: 1023px;
}






/* main-end */



/* button */

#button-container {
  height: 150px;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#section1 {
  padding: 0 10px;
}

.button {
  color: white;
  margin: 20px;
  padding: 20px;
  min-width: 150px;
  min-height: 50px;
  background-color: #002ead;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.2s;
}

.button:hover {
  background-color: #ffbf00;
  transition: 0.5s;
}

.button:active {
  background-color: #0a0a23;

}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.1s;
}

/* button end */
@media (max-width: 808px) {
  html {
    font-size: 12px;
  }

  #header-container {
    flex-direction: column-reverse;

  }

  #tribute-info h2 {
    margin: 2px;
  }

  #tribute-info p {
    padding-top: 0;
  }

  #tribute-info {
    margin: auto;

  }

  #profile-portrait {
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    max-width: 500px;
    margin: 4vw auto;
  }
}

@media (max-width: 594px) {
  #tribute-info {
    height: 550px;

  }
}

@media (max-width: 535px) {
  #img-div {
    float: none;
    margin: 16px auto;
    min-width: 300px;

  }
}

@media (max-width: 490px) {
  #tribute-info {
    height: 600px;

  }
}

@media (max-width: 450px) {
  #tribute-info {
    height: 650px;

  }
}

@media (max-width: 411px) {
  #tribute-info {
    height: 700px;

  }

}

@media (max-width: 384px) {
  #tribute-info {
    height: 750px;

  }
}